.navDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.defaultGrid {
    height: 100vh;
}

.drawerButton {
    display: flex;
    align-items: center;
    padding: 8px 15px 8px 15px !important;
    border-radius: 20px !important;
    cursor: pointer;
}

.settingsButton {
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.drawerButton.active span {
    font-weight: 700;
}

#userWrapper {
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 8px 15px 8px 15px;
    width: 250px;
    height: 80px;
    text-transform: none;
}

.userNames {
    display: flex;
    margin: 0 0 0 0;
    justify-content: flex-start;
}


