.defaultGrid {
    min-height: 100% !important;
    margin-top: 0 !important;
}

.drawer {
    height: 100%;
    width: 100%;
    padding-right: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.drawerSmall {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.navDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.drawerButton {
    display: flex;
    align-items: center;
    padding: 8px 15px 8px 15px !important;
    border-radius: 20px !important;
    cursor: pointer;
}

.drawerButtonSmall {
    display: flex !important;
    align-items: center !important;
    padding: 12px 12px 12px 12px !important;
    width: 50px !important;
    height: 50px !important;
    min-width: 0 !important;
    border-radius: 50% !important;
    cursor: pointer !important;
}

.settingsButton {
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.drawerButton.active span {
    font-weight: 700;
}

.userWrapper {
    display: flex !important;
    align-items: center !important;
    border-radius: 60px !important;
    padding: 8px 15px 8px 15px !important;
    width: 250px !important;
    height: 80px !important;
    text-transform: none !important;
}

.userWrapperSmall {
    display: flex !important;
    align-items: center !important;
    border-radius: 50% !important;
    padding: 0 0 0 0 !important;
    min-width: 0 !important;
    width: 65px;
    height: 65px;
    text-transform: none !important;
    margin-right: 15px !important;
}


.userNames {
    display: flex;
    margin: 0 0 0 0;
    justify-content: flex-start;
}

#homeContainer {
    box-sizing: border-box !important;
    height: 100vh;
}

#tabs {
    position: relative;
}


